@model IEnumerable<HomeForYou.NhaCungCap>
@{
    Layout = "~/Areas/back/Views/Shared/back_layout.cshtml";
}
@using HomeForYou.Areas.back.Controllers
@if (Session["IsLogin"] == null)
{
    Response.Redirect("Login");
}
<ul class="breadcrumb">
    <li>@Html.ActionLink("Trang chủ", "Index", "Admin")<span class="divider">/</span>
    </li>
    <li class="active">Danh sách nhà cung cấp<span class="divider"></span>
    </li>
</ul>
<p class="clearfix">
@Html.ActionLink("Thêm mới", "Them", "NhaCungCap", new { @class = "btn btn-primary pull-right" })
<form class="form-search" method="get">
    <div class="container">
        <input type="hidden" id="controller_name" value="KhuyenMai" />
    <input type="text" class="input-medium search-query" name="title" placeholder="Tên nhà cung cấp"
        value="" />
    <button type="submit" class="btn btn-success">
        Tìm</button>
</form>
<div style="padding: 10px;"></div>
<table class="table table-bordered table-striped table-center class">
    <thead>
        <tr>
            <th width="15%">Tên Nhà cung cấp</th>
            <th width="10%">Địa chỉ</th>
            <th width="10%">Email</th>
            <th width="10%">Số ĐT</th>
            <th width="5%">Tình trạng</th>
            <th width="5%">Sửa</th>
            <th width="5%">Xóa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.TenNCC</td>
                <td>@s.DiaChi</td>
                <td>@s.Email</td>
                <td>@s.SoDT</td>
                @switch(s.TinhTrang)
                {
                    case "Disabled":
                    <td>
                        <span class="label btn-warning">Disabled</span>&nbsp;
                    </td>
                    break;
                    case "Enabled":
                    <td>
                        <span class="label btn-primary">Enabled</span>
                    </td>
                    break;
                    case "Deleted":
                    <td>
                        <span class="label btn-danger">Deleted</span>
                    </td>
                    break;
                }
                <td>
                        @if (s.Sua == true)
                        {
                            @Html.ActionLink("Sửa", "Sua", "NhaCungCap", new {MaNCC = s.MaNCC }, new { @class = "btn btn-small btn-info" })
                        }
                        else
                        {
                            <button class="btn btn-small" disabled>
                                Sửa</button>
                        }
                    </td>
                    <td>
                        @if (s.Xoa == true && s.TinhTrang!="Deleted")
                        {
                            @Html.ActionLink("Xóa", "Xoa", "NhaCungCap", new {MaNCC = s.MaNCC }, new { @class = "btn btn-small btn-danger delete-row" })
                        }
                        else
                        {
                            <button class="btn btn-small btn-danger delete-row" disabled>
                                Xóa</button>
                        }
                    </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination clearfix">
        @if ((string)ViewData["pageLinks"] != "")
        {
            <ul>
                @Html.Raw(ViewBag.pageLinks)
            </ul>
            <br />
            <br />
        }
    </div>

