@using HomeForYou.Areas.back.Controllers;
@{
    ViewBag.Title = "ThongKeDoanhThu";
    Layout = "~/Areas/back/Views/Shared/back_layout.cshtml";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Trang chủ", "Index", "Admin")<span class="divider">/</span>
    </li>
    
</ul>
<h2>Báo cáo doanh thu</h2>

<p class="clearfix">
    <div class="pull-left container">
    <blockquote>
        <form class="form-horizontal" method="get" enctype="multipart/form-data">
            <div class="control-group">
                <label class="control-label">
                    Khách sạn: </label>
                <div class="control">
                    @Html.DropDownList("KhachSan","All")
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Từ ngày: </label>
                <div class="control">
                    <input type="text" name="batdau" id="start_date" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Đến ngày: </label>
                <div class="control">
                    <input type="text" name="ketthuc" id="end_date" />
                    <button type="submit" class="btn">
                    Tìm</button>
                </div>
            </div>
        </form>
    </blockquote>
    </div>
    <table class="table table-bordered table-striped table-center class">
        <thead>
            <tr>
                
                <th width="40%">
                    DoanhThu
                </th>
            </tr>
        </thead>
        <tbody>
            @if (@ViewBag.total_rows == 0)
            {
                <tr>
                    <td colspan="5" class="align-center">
                        Không có kết quả phù hợp
                    </td>
                </tr>
            }
            @foreach (var s in @ViewBag.result)
            { 
                <tr>
                    
                    <td>
                        @s.doanhthu
                    </td>
               </tr>
            }
        </tbody>
    </table>
@*    <div class="pagination clearfix">
        @if ((string)ViewData["pageLinks"] != "")
        {
            <ul>
                @Html.Raw(ViewBag.pageLinks)
            </ul>
            <br />
            <br />
        }
    </div>*@
