@model HomeForYou.Vung
@{
    Layout = "~/Areas/back/Views/Shared/back_layout.cshtml";
}
<ul class="breadcrumb">
        <li>@Html.ActionLink("Trang chủ", "Index", "Admin")<span class="divider">/</span>
    </li>
    <li>@Html.ActionLink("Danh sách vùng", "DanhSachVung", "Vung") <span class="divider">/</span>
    </li>
    <li class="active">Thêm mới</li>
</ul>
<legend>Thêm vùng</legend>
@if (@ViewBag.Message != null && ViewBag.Success == 1)
{
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4> Chúc mừng!</h4>
    @ViewBag.Message
</div>
}
@if (@ViewBag.Message != null && ViewBag.Success == 0)
{
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4> Không thành công!</h4>
    @ViewBag.Message
</div>
}
<form class="form-horizontal" action="ThemVung" method="post" enctype="multipart/form-data">
    <div class="control-group">
        <label class="control-label">
            Thành Phố</label>
        <div class="controls">
            @Html.DropDownList("ThanhPho")
            <span class="help-inline" style="color: red;">(*)</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Tên vùng</label>
        <div class="controls">
            <input type="text" name="tenvung" value=""><span class="help-inline" style="color: red;">(*)</span>
        </div>
    </div>
    <legend></legend>
    <p><strong style="color: Red;"> (*) </strong><strong style="font-style:italic;">: Thông tin bắt buộc</strong></p>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            Thêm
        </button>
        @Html.ActionLink("Thoát", "DanhSachVung", "Vung", new { @class = "btn btn-inverse" })
    </div>
    

</form>
